body {
    margin: 0;
    padding: 0;
    background-color: lightgray;
    font: 12pt "Tahoma";
    color: rgb(101, 102, 100);
    letter-spacing: 2px;
}

.bold {
    font-weight: bold;
}

.page {
    margin: 50px
}

h3 {
    margin: 0
}

h1 { 
    font-size: 3em;
}

.container {
    display: grid;
    grid-template-columns: 40% auto;
    grid-template-rows: auto;
    grid-template-areas: 
        "header header"
        "sidebar main"
        "footer footer";
    gap: 15px 10px;
}

.sidebar {
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
}

.main {
    grid-area: main;
    display: flex;
    flex-direction: column;
}

.picture {
    grid-area: header / 1;
    justify-self: center;
}

.me { 
    grid-area: header / 2;
    align-self: center
}

.picture > img {
    border: 3px solid #ffffff;
    border-radius: 50%;
    height: 150px;
    width: 150px;
}

.labeled {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 30px;
}

.labeled > div {
    padding: 4px 4px 4px 4px;
    border-radius: 5px;
    border: 1px solid gray;
    text-align: center;
    background-color: rgb(190, 190, 190);
    /* font-weight: bold; */
    font-size: 10pt;
    white-space: nowrap;
    font-style: italic;
}

.labeled > div {
    margin: 3px 3px 3px 3px;
}

.content.labeled {
    padding-left: 30px;
}

.job > .details .title {
    font-style: italic;
    margin-bottom: 5px;
}

.list > div:not(.title) {
    padding: 4px 4px 4px 60px;
    text-align: left;
    position: relative;
}

.list > div:not(.title):before {
    content: '';
    border-radius: 50%;
    border: 1px solid rgb(150, 150, 150);
    background-color: rgb(150, 150, 150);
    width: 10px;
    height: 10px;
    position: absolute;
    top: 50%;
    left: 25px;
    transform: translateY(-50%);
}

.list > div:not(:last-child) {
    margin-bottom: 5px;
}

.section > .title {
    letter-spacing: 2.5px;
    border-bottom: 2px solid gray;
    height: 40px;
    display: flex;
}

.section > .title > h3 {
    align-self: center;
}

.section > .content {
    padding-top: 15px;
}

.section {
    margin-bottom: 5px;
}

.main > .section {
    display: grid;
    grid-template-columns: 40px auto;
    grid-template-rows: auto;
    grid-template-areas: 
        "icon title"
        "border content";
    gap: 0 10px;
}

.main > .section > .icon {
    grid-area: icon / 1;
    align-self: center;
}

.main > .section > .title {
    grid-area: icon / 2;
}

.main > .section > .border {
    grid-area: border / 1;
    width: 2px;
    margin-top: 10px;
    margin-bottom: 10px;
    background:gray;
    place-self: stretch center;
}

.main > .section > .content {
    grid-area: content / 2;
}

.main > .section > .icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main > .section > .icon:after {
    font-size: 40px;
    font-weight:900;
    z-index: -1;
}

.main > .section.profile > .icon:after {
    font-family: "Font Awesome 5 Free";
    content: "\f2bd";
}

.main > .section.work > .icon:after {
    font-family: "Font Awesome 5 Free";
    content: "\f0b1";
}

.main > .section.work .job {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: 
        "title"
        "company"
        "details";
    gap: 10px 0;
}

.main > .section.work .job:not(:last-child) {
    margin-bottom: 25px;
}

.main > .section.work .job > .title {
    grid-area: title;
    position: relative;
    font-size: 1.2em;
    font-weight: 600;
}

.main > .section.work .job > .title::before {
    content: '';    
    position: absolute;
    border-radius: 50%;
    border: 2px solid rgb(150, 150, 150);
    background-color: lightgray;
    width: 10px;
    height: 10px;
    left: -37px;
    top: 50%;
    transform: translateY(-50%);
}

.main > .section.work .job .company {
    grid-area: company;
    font-style: italic;
    margin-bottom: 15px;
}

.main > .section.work .job .details {
    grid-area: details;
}

.main > .section.work .job .project:not(:last-child){
    margin-bottom: 25px;
}

.main > .section.work .job .project > *:not(:last-child){
    margin-bottom: 7px;
}

.sidebar > .section > .title > .icon:after {
    font-size: 20px;
    font-weight:900;
    z-index: -1;
}

.sidebar > .section > .title {
    display: flex;
    align-items: center;
}
.sidebar > .section > .title > *:not(:last-child){
    margin-right: 10px;
}

/* Language */

.sidebar > .section.language > .title > .icon:after {
    font-family: "Font Awesome 5 Free";
    content: "\f11c";
}

.sidebar > .section.language > .content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
} 

.sidebar > .section.language > .content > .item{
    display: flex;
    flex-direction: column;
    flex: 1 1 0px
} 

.sidebar > .section.language > .content > .item > span[class^="icon-"]{
    font-size: 30px;
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
} 

.sidebar > .section.language > .content > .item > span[class^="icon-"]:before {
    color: rgb(101, 102, 100);
}

.sidebar > .section.language > .content > .item > span.name{
    text-align: center;
}

.sidebar > .section.language > .content > .item:not(:last-child) {
    margin-right: 10px;
}
/* Tools */
.sidebar > .section.tools > .title > .icon:after {
    font-family: "Font Awesome 5 Free";
    content: "\f0ad";
}

/* Methodologies */

.sidebar > .section.methodologies > .title > .icon:after {
    font-family: "Font Awesome 5 Free";
    content: "\f5eb";
}

/* Frameworks and Libraries*/
.sidebar > .section.framework > .title > .icon:after {
    font-family: "icomoon";
    content: "\e942";
}

/* Cloud */
.sidebar > .section.cloud > .title > .icon:after {
    font-family: "Font Awesome 5 Free";
    content: "\f0c2";
}

/* Architectures */
.sidebar > .section.architectures > .title > .icon:after {
    font-family: "icomoon";
    content: "\ea62";
}

/* Practicies */
.sidebar > .section.practices > .title > .icon:after {
    font-family: "Font Awesome 5 Free";
    content: "\f164";
}

/* Databases */
.sidebar > .section.databases > .title > .icon:after {
    font-family: "Font Awesome 5 Free";
    content: "\f1c0";
}


/* Contact */
.sidebar > .section.contact .item {
    display: flex;
    flex-direction: row;
    align-content: center;
}

.sidebar > .section.contact .item:not(:last-child) {
    margin-bottom: 15px;
}

.sidebar > .section.contact .item .icon {
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar > .section.contact .item > .details { 
    display: flex;
    flex-direction: column;
}

.sidebar > .section.contact .item > .details *:not(:last-child)  {
    margin-bottom: 5px 
}

@media print {
    body{
        width: 21cm;
        height: 29.7cm;
        margin: 30mm 45mm 30mm 45mm; 
        /* change the margins as you want them to be. */
   } 
}